.top-left {
  margin: 0 0 0 0;
  transition: margin 2s;
}

.top-right {
  margin: 0 0 0 1100px;
  transition: margin 2s;
}

.bottom-right {
  margin: 440px 0 0 1100px;
  transition: margin 2s;
}

.bottom-left {
  margin: 440px 0 0 0;
  transition: margin 2s;
}
